# Ignore Docker temporary files
*.log
*.pid
*.tar

# Ignore Docker volumes
volumes/

# Node modules if using Node.js
node_modules/

# ignore .env file
.env

# ignore pihole files
etc-dnsmasq.d/
etc-pihole/
nagios_config/
nginx-proxy-manager/
nginx/

